@font-face {
  font-family: ostrich;
  src: url("fonts/ostrich-regular.ttf");
}

li {
  list-style: none;
}

.customNav {
  margin-right: 50px;
}

.customNav li:hover > ul {
  display: block;
}

.customNav li a {
  color: #fff !important;
  padding: 4px 15px !important;
}

.customNav li a:hover {
  color: #ef6603 !important;
  border-radius: 50px;
}

.customNav .active {
  background-color: #ef6603;
  border-radius: 50px;
}

.customNav .active:hover {
  background-color: #fff !important;
}

.customNav ul {
  background-color: #fff;
  padding: 10px 30px;
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
}

.carousel-bg {
  background: url(./images/bg-1.jpg);
  padding: 50px 0;
}

.carousel-caption {
  position: static;
}

.carousel-caption p {
  font-size: 20px;
}

h2 {
  font-size: 60px;
  font-family: ostrich;
  font-weight: bold;
  letter-spacing: 2px;
}

.about-data {
  font-size: 30px;
  font-family: ostrich;
}

.carousel-circle ol {
  margin-top: 20px;
  position: relative;
  border: 1px solid red;
}

.carousel-circle li {
  background-color: #000;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50%;
}

.col .bar1 {
  background-color: #60c1de;
}

.col .bar2 {
  background-color: #fdda18;
}

.col .bar3 {
  background-color: #ce1a02;
}

.col .bar4 {
  background-color: #7cbb00;
}

.col .customProg {
  height: 20px;
}

.services-bg {
  background: url(./images/bg-1.jpg);
  background-size: cover;
  padding: 100px 10px;
  width: 100%;
  height: auto;
}

.services-bg .heading h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.services-bg .heading p {
  font-size: 35px;
  font-family: ostrich;
  text-align: center;
  color: #fff;
  margin: 30px 0px;
}

.services-bg h1, .services-bg h3 {
  font-family: ostrich_sansblack;
  text-align: center;
  color: #3a3a3a;
}

.services-bg h3 {
  font-size: 20px;
  font-weight: 300px;
  text-align: center;
}

.services-bg .div-pad {
  width: 100%;
  border-radius: 5px;
  position: relative;
  padding: 50px 50px;
}

.services-bg button {
  background-color: #ef6603;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
}

.services-bg .fas {
  padding: 15px;
  border-radius: 50%;
  background-color: #ef6603;
  top: 5px;
  left: 50%;
  margin-bottom: 10px;
}

.cat-heading h1 {
  text-align: center;
  font-size: 50px;
  font-family: ostrich_sansblack;
  text-transform: uppercase;
}

.cat-heading p {
  text-align-last: center;
  font-size: 35px;
  font-family: ostrich;
  margin: 20px 0;
}

.categories ul li {
  display: inline-block;
  background-color: #ef6603;
  color: #fff;
  padding: 4px 8px;
  margin: 5px;
  border-radius: 3px;
}

.categories ul li:nth-last-child(6) {
  background-color: #000;
}

.categories a {
  color: #fff;
  text-decoration: none;
}

.categories a:hover {
  text-decoration: none;
}

.categories li:hover {
  background-color: orange;
}

.img-section img {
  margin: 10px;
}
/*# sourceMappingURL=main.css.map */