@font-face {
    font-family: ostrich;
    src: url('fonts/ostrich-regular.ttf');
}
$main-color:#ef6603;
li{
 list-style: none;   
}
.customNav{
    // border: 1px solid red;
    margin-right: 50px;

         li{
             &:hover> ul{
                 display: block;
             }
             a{
            color: #fff !important;
            padding: 4px 15px !important;
            &:hover{
                color: $main-color !important;
                border-radius: 50px ;
            }
         }
    }

    .active {
        background-color: $main-color;
        border-radius: 50px;
        &:hover{
            background-color: #fff!important;
        }
    }
    ul{
        background-color: #fff;
        padding: 10px 30px;
        position: absolute;
        top: 30px;
        right: 30px;
        display: none;


    } 
}
.carousel-bg {
background:url(./images/bg-1.jpg);
padding: 50px 0;
}
.carousel-caption{
    position:static;
    p{
        font-size:20px;
    }
}
h2{
font-size:60px;
font-family:ostrich;
font-weight:bold;
letter-spacing: 2px;
}
.about-data{
font-size:30px;
font-family:ostrich;
}
.carousel-circle{

    ol{
        margin-top: 20px;
        position: relative;
        border: 1px solid red;
    }

    li{
    background-color: #000;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    // border: 1px solid red;
    }
}
.col{
    .bar1{
        background-color: #60c1de;
    }
    
    .bar2{
        background-color: #fdda18;
    }
    .bar3{
        background-color: #ce1a02;
    }
    .bar4{
        background-color: #7cbb00;
    }
    .customProg{
        height: 20px;
    }
}
.services-bg{
    background:url(./images/bg-1.jpg);
    background-size: cover;
    padding: 100px 10px;
    width: 100%;
    height: auto;
    .heading{
        
        h1{
            text-align: center;
            font-size: 50px;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
        }
        p{
            font-size: 35px;
            font-family: ostrich;
            text-align: center;
            color: #fff;
            margin: 30px 0px;
        }
    }
    h1, h3{
        font-family: ostrich_sansblack;
        text-align: center;
        color: #3a3a3a;
    }
    h3{
        font-size: 20px;
        font-weight: 300px;
        text-align: center;
    }
    .div-pad{
        // border: 1px solid red;
        width: 100%;
        border-radius: 5px;
        position:relative;
        padding: 50px 50px;
    }
    button{
        background-color: $main-color;
        text-align: center;
        color: #fff;
        border: 1px solid #fff;
    }
    .fas{
        padding: 15px;
        border-radius: 50%;
        background-color: $main-color;
        // position: absolute;
        top: 5px;
        left: 50%;
        // transform: translateX(-50%);
        margin-bottom: 10px;
    }
}
.cat-heading{
    h1{
        text-align: center;
        font-size: 50px;
        font-family:ostrich_sansblack;
        text-transform: uppercase;

    }
    p{
        text-align-last: center;
        font-size: 35px;
        font-family: ostrich;
        margin: 20px 0;
    }
}
.categories{
    ul li{
        display: inline-block;
        background-color:$main-color;
        color: #fff;
        padding: 4px 8px;
        margin: 5px;
        border-radius: 3px;
    }
    ul li:nth-last-child(6){
        background-color: #000;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
        
    }
    li:hover{
        background-color: orange;
    }
}
.img-section{
    img{
        margin:10px;
    }
}


